body {
  font-size:xx-large;
  background-color:#4ac0e8;
}

div {

}

span {
  font-family:Comic Sans MS;
  font-size:1.1em;
  border-radius:5px;
  padding:5px;
  margin:5px;
}

.cNum {
  border:1px solid gray;
  background-color:#009d96;
  color:yellow;
  font-size:2em;
}

.cSelected {
  padding:5px;
  color:gray;
  background-color:green;
  border:2px solid red;
}

.cUseLess {
  padding:5px;
  color:gray;
  background-color:green;
  border:2px solid gray;
}

.cImage {
  margin:5px;
}

.cImage2 {


  margin:5px;
}
